*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(40,105,100);
    justify-content: center;
    text-align: center;
}
.nav{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    background-color: #15464d;
    width: 550px;
    padding: 30px;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
    li{
        list-style-type: none;
    }
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    .a2{
        text-decoration: none;
        color: #ccdbe1;
        font-size: 20px;
    }

.container1{
    display: flex;
    background-color: #276678;
    border-radius: 15px;
    padding: 10px;
    button{
        background-color: #276678;
        flex: 1;
        border: none;
        font-size: 30px;
        color: #f4eee6;
    }
}
.container2{
    margin-top: 20px;
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    img{
        width: 50px;
    }
    .input1{
        border: none;
        flex:1;
        font-size: 20px;
    }
}
.container5{
    display: flex;
    justify-content: space-around;
}